<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1> The New Team is:</h1>
    <h2><%="Team Name:" @name></h2>
    <%end%>
    
 </body>
</html>
